body {
  background-color: snow;
}

#header {
  display: flex;
}

.jumbotron {
  flex: 1;
  background-image: url(./jasper-boer-1fUu0dratoM-unsplash.jpg);
  background-size: cover;
  width: auto;
  height: auto;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  color: snow;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-top: -2rem;
}

#dateTitle {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: snow;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-bottom: -2rem;
}
